body{

    font-size: 16px;
    position: relative;
    font-weight:400;
}
h6{
    font-family: 'Ranchers', cursive;
    text-align: center;
    margin:0;
    font-size: 65px;
}

.btn-primary
{
    margin-bottom: 15px !important;
}