body{

    background-color: whitesmoke;
}



h6{
    font-family: 'Ranchers', cursive;
    text-align: center;
    margin:0;
    margin-top: 20px !important;
    font-size: 65px;
    margin-bottom: 50px;
}

.btn-primary
{
    margin-bottom: 1px !important;
}

b{
    font-weight: bolder;
    font-size: x-large;
}
#total
{
    margin-left: 3%; 
    text-align: center;
    height: 10%;
    margin-top: 100px !important;
    background-color:lightcyan;
    font-weight: bold;
    border-color: black;
    margin-bottom: 10%;
    border: 1px solid;
    box-shadow: 5px 10px 8px 10px #888888;
    
}

table,th{
    text-align: center;
    
}

th{
    color: White;
    background-color: black;
}
 td{
     background-color:peachpuff;
     font-weight: bold;
     font-size: medium;
 }

td:hover{
    background-color:skyblue;
}

